/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

/* Main Stylings */
html, body {
  font-family: Tahoma, sans-serif;
  line-height: 1.7rem;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

nav {
  background: #333;
  overflow: auto;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
}

div.container {
  margin: auto;
  max-width: 1100px;
}

.lead {
  font-size: 20px;
  padding: 40px;
  color: #fff;
}

.button {
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  background: #333;
  color: #fff;
}

.btn-light {
  color: #333;
  background: #fff;
}

.button:hover {
  color: #333;
  background: #f3ab67;
}

.text-primary{
  color: #f3ab67;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  color: #333;
  background: #f3ab67;
}

.clr {
  clear: both;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
/* Navigation */
nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  float: left;
}

nav ul a {
  display: block;
  padding: 20px;
  color: #fff;
}

nav h1 a {
  color: #fff;
}

nav ul a:hover,
nav ul a.current {
  color: #f3ab67;
  background: #444;
}

nav h1 {
  padding: 20px;
  float: left;
}

/* Showcase */
#showcase-content {
  text-align: center;
}

#showcase-content h1 {
  padding-top: 50px;
  font-size: 50px;
  color: #fff;
}

#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 500px;
}

/* Mid Sections */
#home-info {
  height: 400px;
}

.info-content {
  float: right;
  width: 50%;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.info-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

.info-content p {
  padding: 10px;
  padding-bottom: 40px;
}

.info-content h2 {
  padding-top: 40px;
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i{
  margin-bottom: 20px;
}

/* Main-Footer */
#main-footer {
  text-align: center;
  color: #fff;
  background: #444;
  padding: 20px;
  font-size: 14px;
}

/* About */
.about-section {
  background: #f2f2f2;
  overflow: auto;
}

.content-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

.content-left h1 {
  font-size: 40px;
  padding: 30px 15px;
}

.content-left p {
  padding: 10px 15px;
  line-height: 1.7em;
}

.content-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.content-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
  margin-top: 20px;
}

#guests-container {
  text-align: center;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  overflow: auto;
  height: 600px;
}

#guests-container h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 40px;
  color: #fff;
}

.guest img {
  width: 100px;
  border-radius: 50%;
  float: left;
}

.guest p {
  text-align: left;
  margin-left: 120px;
}

.guest {
  padding: 20px;
  margin: 20px;
  background: #f3ab67;
  opacity: 0.9;
  overflow: auto;
  border-radius: 5px;
}

/* Contact Form */
#contact-main {
  padding: 20px;
}

#contact-main h1 {
  font-size: 40px;
}

#contact-form label {
  display: block;
  padding-top: 20px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
}

#contact-form button {
  display: block;
  margin-top: 15px;
}

#contact-boxes {
  background: #2d2d2d;
  color: #fff;
}

#test div {
}